.side-navigation{ position:fixed; left:0; width:15%; min-width:150px; border-right:1px solid rgba(64,74,86,0.1); min-height:600px;  }
.side-navigation-status {  width: 100%;  margin: 0 auto;  text-align: center; padding: 5px; margin-bottom: 10px;}
i.fa { margin-right:10px !important; }
