.filter-option.eighty { width:80% !important; }
.filter-container { border:none !important;}
.progress-container.user { margin: 0 auto; width:50%;}

.filter-result {width:80% !important; margin:0 auto !important;}