h2.title { margin-left:25px; font-size:26px; }

.wrapper > .header { position: fixed; top:0; width:100%; }
.wrapper > .detail { float:right; width:85%; margin-top:50px; }

sidebar { position:fixed; left:0; top:65px; }

.pointer { cursor:pointer; }
.green { color:green;}
.red { color:red;}

.action { text-align: center; margin:10px; }
.action > div {margin: 0 auto; display:inline-block;}


.header-subtitle { margin-left: 50px; }

table.detail-table{ font-size:11px; width:95%; border-collapse: separate !important; border-radius:15px; margin:auto; text-align:center;border:2px solid rgba(0,0,0,0.2); color:rgba(0,0,0,0.8); font-family:Arial;}
table.detail-table td{ padding:10px; width:7.7%;}
table.detail-table td .detail-table{ background-color:#e74c3c; text-decoration: none; color:black; font-size:10px; }
table.detail-table tr.nice-blue { background-color: rgba(0,255,0,0.1) ;}
table.detail-table tr.white { background-color: white;}
table.detail-table tr.warning { height:50px; font-size:14px; color:white; background-color: rgba(150,0,0,0.75); }
